<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>BeeSphere</title>
  <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="login-form" action="/mainpage" method="POST">
      <input type="text" placeholder="username" name="username"/>
      <input type="password" placeholder="password" name="password"/>
      <input class="btn btn-default" type="submit" value="Login">
    </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
  </div>
</div>
</body>
</html>


